
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="overlay" id="overlay">
    <div class="modal-box">
        <button class="close-btn"><a href="{% url 'userapp:login' %}">↩</a></button>
        <h2>Redefinir senha</h2>
        <div class="modal-content">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">E-mail cadastrado:</label>
                    <input type="email" name="email" required>
                    <button type="submit" class="btn">Redefinir Senha</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>

